/* Box Size*/
/* -------------------------*/
/* Button*/
/* -------------------------*/
/* */
/* Block*/
/* -------------------------*/
/****/
/*== Inline block*/
/*==========================================*/
/*== vertical block*/
/*==========================================*/
/*== Translate X - Y - Z*/
/*==========================================*/
/*== Transform*/
/*==========================================*/
/*== Transform*/
/*==========================================*/
/*== Background Size*/
/*==========================================*/
/*== Background origin*/
/*==========================================*/
/*== Border radius*/
/*==========================================*/
/*== Text Shadow*/
/*==========================================*/
/*== Transform Origin*/
/*==========================================*/
/*== appearance*/
/*==========================================*/
/*== selection*/
/*==========================================*/
/*== animation fill mode*/
/*==========================================*/
/*== filter*/
/*==========================================*/
/* Clear Lists*/
/* -------------------------*/
/* Formart lists widget*/
/* -------------------------*/
/* Position mixin*/
/*==========================================*/
/* @param [string] $position: position type*/
/* @param [list] $args: list of offsets and values*/
/*==========================================*/
/* Absolute positioning mixin*/
/*==========================================*/
/* @param [list] $args: list of offsets and values*/
/*==========================================*/
/* Arrow mixin*/
/*==========================================*/
/* @param [string] $direction: arrow direction*/
/* @param [list] $position: list of offsets and values*/
/* @param [color] $color (inherit): arrow color*/
/* @param [number] $size (1em): arrow size*/
/*==========================================*/
/* Font size - rem*/
/*==========================================*/
/*== Border*/
/*==========================================*/
/* State and hover*/
/*==========================================*/
/*== Flexible Layout*/
/*==========================================*/
/* Retina Sprite Mixins*/
/** elements mixins **/
/**
* Transition-timing-function property@mixin
*/
/*background RGBA
============================================*/
/*copyright*/
/*sub heading (h2,h3) define*/
/*background*/
/* Panels*/
/* -------------------------*/
/*/ button variant outline*/
/* icon variant inverse*/
/* icon variant outline*/
/* Block*/
/* -------------------------*/
/****/
/****/
/*
 * Global variables
 */
/* Fonts */
/* main color which will be used for all main block styles... */
/**
 * Import component variables
 */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons for light style */
/* Variables icons outline */
/* Variables icons inverse */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 4 */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* --- SCSS For Typography --- */
/**
 * Header Block 
 */
.pavo-header-builder {
  position: relative; }
  .pavo-header-builder.style-absolute {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100; }

/* header block */
.pavo-popup-search {
  position: relative; }
  .pavo-popup-search .popup-search-container {
    position: absolute;
    top: 40px;
    left: 0;
    padding: 10px 20px;
    background: #0088cc;
    max-width: 400px; }

/* quick login */
.pavo-widget-quicklogin .dropdown-menu {
  min-width: 350px;
  padding: 30px; }
.pavo-widget-quicklogin .quicklogin-head {
  border-bottom: solid 1px #f2f2f2;
  padding-bottom: 10px;
  margin-bottom: 20px; }
  .pavo-widget-quicklogin .quicklogin-head span {
    font-weight: bold;
    text-transform: uppercase; }

/**
 * Footer Style
 */
/**
 *
 */
.pa-google-map {
  min-height: 300px; }

.pac-container.pac-logo {
  z-index: 99999; }

/**
 *
 */
.pavo-widget-team {
  border: 1px solid transparent !important;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden; }
  .pavo-widget-team.layout-1 {
    text-align: center; }
    .pavo-widget-team.layout-1 .content-socials {
      opacity: 0;
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      position: absolute;
      top: 40%;
      left: 0;
      width: 100%; }
  .pavo-widget-team.layout-3 .content-overlay {
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    opacity: 0;
    transition: all .3s ease 0s;
    transform: translateY(100%);
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    color: #FFF; }
  .pavo-widget-team.layout-3:hover .content-overlay {
    transform: translateY(0);
    opacity: 1; }
  .pavo-widget-team .content-title {
    margin: 0px !important;
    font-size: 15px !important;
    text-transform: capitalize !important;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #363a42; }
  .pavo-widget-team .content-subtitle {
    margin-bottom: 0px !important; }
  .pavo-widget-team .content-desc {
    margin: 0 0 20px;
    float: left;
    font-size: 13px;
    width: 100%;
    color: #707070;
    text-transform: capitalize; }
  .pavo-widget-team:hover .content-socials {
    opacity: 1; }
  .pavo-widget-team:hover .content-image:before {
    opacity: 1; }

.content-image {
  border-bottom: 1px solid transparent !important;
  position: relative; }
  .content-image:before {
    content: '';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent !important;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s; }
  .content-image img {
    border-radius: 50%; }

/* social wiget */
.social-network .size-small a {
  font-size: 14px !important; }
.social-network .size-medium a {
  font-size: 18px !important; }
.social-network .size-large a {
  font-size: 20px !important; }
.social-network.style-light a {
  color: #FFF !important; }
  .social-network.style-light a:hover {
    color: #0088cc !important; }
.social-network.style-dark a {
  color: #000 !important; }
  .social-network.style-dark a:hover {
    color: #0088cc !important; }
.social-network .social {
  margin-bottom: 0px !important; }
  .social-network .social li {
    padding-right: 10px; }
    .social-network .social li a {
      display: block;
      line-height: 40px;
      text-align: center;
      color: #666666;
      border: 1px solid #f2f2f2;
      background: transparent;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .social-network .social li a:hover {
        background: #ff9801;
        color: #FFF; }
      .social-network .social li a .fa {
        font-size: 18px; }

/**
 * Heading
 */
.pavo-widget-heading .content-heading,
.pavo-widget-heading .content-subheading {
  display: inline-block; }
.pavo-widget-heading .content-heading {
  font-size: 36px;
  line-height: 40px;
  font-family: "Abril Fatface", cursive;
  padding: 0;
  font-weight: 500;
  letter-spacing: -0.5px;
  vertical-align: middle;
  padding-right: 10px; }
.pavo-widget-heading .content-subheading {
  color: #888888;
  vertical-align: middle;
  padding-top: 25px; }
.pavo-widget-heading.hot-deals {
  border-bottom: 1px solid #f2f2f2; }
.pavo-widget-heading.hot-deals-v1 {
  color: #FFF;
  padding: 10px 30px;
  position: relative; }
  .pavo-widget-heading.hot-deals-v1:after {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #FFF;
    top: 50%;
    right: 0px;
    position: absolute;
    content: ""; }
  @media (max-width: 767px) {
    .pavo-widget-heading.hot-deals-v1:after {
      display: none; } }
  .pavo-widget-heading.hot-deals-v1 .content-subheading {
    color: #FFF;
    padding-top: 0; }
.pavo-widget-heading.style-center {
  text-align: center; }
.pavo-widget-heading.style-left {
  text-align: left; }
.pavo-widget-heading.style-right {
  text-align: right; }
.pavo-widget-heading.style-v2 {
  border: 1px solid #f2f2f2; }
  .pavo-widget-heading.style-v2 .content-heading {
    font-size: 18px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 10px; }
.pavo-widget-heading.style-light-center {
  text-align: center; }
  .pavo-widget-heading.style-light-center h1, .pavo-widget-heading.style-light-center h2, .pavo-widget-heading.style-light-center h3, .pavo-widget-heading.style-light-center h4, .pavo-widget-heading.style-light-center h5 {
    color: #fff; }

.footer-blockbuilder .pavo-widget-heading .content-heading,
.footer-blockbuilder .pavo-widget-heading .content-subheading {
  display: inline-block; }
.footer-blockbuilder .pavo-widget-heading .content-heading {
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 30px; }
.footer-blockbuilder .list-unstyled li {
  padding: 10px 0; }

/*
 * Icon Featured Box
 */
.pavo-widget-featuredbox {
  position: relative; }
  .pavo-widget-featuredbox .content-icon {
    margin: 0 auto;
    height: 35px !important;
    width: 35px !important;
    line-height: 35px !important;
    text-align: center;
    background: transparent; }
  .pavo-widget-featuredbox .icon-radius {
    border: 1px solid #ff9801;
    color: #ff9801;
    border-radius: 50%;
    background: transparent !important; }
    .pavo-widget-featuredbox .icon-radius .fa {
      font-size: 20px !important; }
  .pavo-widget-featuredbox .icon-rectangle {
    font-size: 25px;
    background: transparent; }
  .pavo-widget-featuredbox .content-subtitle {
    color: #888; }
  .pavo-widget-featuredbox.layout-1 {
    text-align: center; }
  .pavo-widget-featuredbox.layout-2 .content-icon {
    float: left; }
  .pavo-widget-featuredbox.layout-2 .content-box-right {
    padding-left: 50px !important; }
  .pavo-widget-featuredbox.layout-3 {
    text-align: right; }
    .pavo-widget-featuredbox.layout-3 .content-icon {
      float: right; }
    .pavo-widget-featuredbox.layout-3 .content-box-left {
      padding-right: 50px !important; }
    .pavo-widget-featuredbox.layout-3 .content-title {
      font-size: 14px;
      font-weight: 400;
      margin: 0; }
    .pavo-widget-featuredbox.layout-3 .content-description {
      font-size: 18px;
      color: #ff9801;
      font-weight: 700; }

.pavo-widget-image-text.layout-1 {
  background: white;
  padding: 30px 20px;
  border: 1px solid transparent;
  -moz-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s; }
  .pavo-widget-image-text.layout-1 .content-image {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px; }
    .pavo-widget-image-text.layout-1 .content-image img {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0; }
  .pavo-widget-image-text.layout-1 .content-text {
    display: table-cell; }
    .pavo-widget-image-text.layout-1 .content-text .content-subtitle {
      color: #000;
      font-size: 16px;
      font-weight: 500;
      line-height: 25px;
      text-transform: uppercase;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .pavo-widget-image-text.layout-1 .content-text .content-description {
      font-size: 12px;
      color: #666666; }
  .pavo-widget-image-text.layout-1:hover {
    border-color: #ff9801;
    -moz-transition: all 0.35s ease 0s;
    -o-transition: all 0.35s ease 0s;
    -webkit-transition: all 0.35s ease 0s;
    transition: all 0.35s ease 0s; }

/**
 * Countdown
 */
.pavo-widget-countdown .inner {
  padding: 20px 10px;
  text-align: center; }
.pavo-widget-countdown .time-group {
  display: inline-block;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  padding: 10px 20px;
  background: #0088cc;
  color: white;
  margin: 0 10px; }
  .pavo-widget-countdown .time-group .unit {
    font-size: 11px;
    display: block;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px; }
.pavo-widget-countdown.layout-1 .time-group {
  background: #fec52e; }
  .pavo-widget-countdown.layout-1 .time-group .unit {
    background: #FFF;
    color: #fec52e;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -10px; }
.pavo-widget-countdown.layout-2 .time-group {
  background: inherit;
  color: #000; }
  .pavo-widget-countdown.layout-2 .time-group .unit {
    color: #999;
    display: inline-block; }
.pavo-widget-countdown.size-sm .inner {
  padding: 5px 10px; }
.pavo-widget-countdown.size-sm .time-group {
  font-size: 18px;
  padding: 5px 4px; }

/***/
.pavo-widget-counter .counter-group span {
  display: block;
  text-align: center; }
  .pavo-widget-counter .counter-group span.counter-value {
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 10px; }
  .pavo-widget-counter .counter-group span.counter-label {
    text-transform: uppercase;
    font-size: 18px; }
.pavo-widget-counter.no-color .counter-value, .pavo-widget-counter.no-color .counter-label {
  color: #fff; }

/* Megamenu Widget */
.pavo-widget-instagram .swiper-slide .footer {
  position: absolute;
  bottom: 0;
  right: 0; }
.pavo-widget-instagram.style-v2 .swiper-container {
  margin: 0 -10px; }
  .pavo-widget-instagram.style-v2 .swiper-container .swiper-slide {
    padding: 0px 10px; }

.address ul {
  margin: 0;
  padding: 0; }
.address li {
  list-style: none;
  padding: 5px 0; }
  .address li .icon {
    display: table-cell;
    vertical-align: middle;
    min-width: 50px; }
    .address li .icon .fa {
      font-size: 1.5em; }
  .address li .content {
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 0;
    display: table-cell;
    width: 100%; }
  .address li:last-child .content {
    border-bottom: 0; }

#top-links {
  text-align: right; }
  #top-links ul {
    margin: 0;
    padding: 0; }
  #top-links .list-inline > li {
    border-right: 1px solid rgba(255, 255, 255, 0.5); }
    #top-links .list-inline > li:last-child {
      border-right: 0; }

/*# sourceMappingURL=pavobuilder.css.map */
